@import url("./base/normalize.css");
@import url("./base/variables.css");
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/footer.css");
@import url("./components/navbar.css");
@import url("./pages/about.css");
@import url("./pages/contact.css");
@import url("./pages/home.css");
/* livvic-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/livvic-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Livvic";
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: transparent;
  outline: transparent;
}
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}
