.site__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-midnight-green);
  width: 100%;
}
.site__header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site__header-img {
  width: 160px;
  margin-block: 73px;
}
.site__header-navbar {
  max-width: 900px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  /* gap: 50px; */
  justify-content: space-between;
}
.navbar-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-list-item {
  font-size: var(--h3-size);
  line-height: var(--body1-line-height);
  font-weight: var(--body1-weight);
}
.navbar-list-link {
  color: var(--color-white);
}
.menu,
#menu {
  display: none;
}
.fa-solid {
  color: var(--color-white);
  font-size: var(--h3-size);
}
.fa-xmark {
  position: absolute;
  right: 0;
  text-align: end;
}
.navbar-btn {
  padding-block: 11px;
  padding-inline: 33px;
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--h3-size);
  line-height: var(--body1-line-height);
  font-weight: var(--body1-weight);
  border: 2px solid var(--color-white);
  border-radius: 24px;
}
.navbar-link {
  /* margin-right: auto; */
}
.navbar-img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 320px) {
  .site__header-img {
    width: 128px;
    margin-block: 48px;
  }
  .navbar-wrapper {
    flex-direction: column;
    position: absolute;
    max-width: 260px;
    height: 70vh;
    display: none;
    padding-inline: 20px;
    padding-top: 56px;
    text-align: start;
    top: 0;
    right: -260px;
    z-index: 10;
    background-color: var(--color-deep-jungle-green);
    transition: all var(--transition-normal);
  }
  .navbar-list {
    flex-direction: column;
    margin-top: 39px;
  }
  .navbar-list-item {
    text-align: start;
  }
  .navbar-btn {
    margin-top: 36px;
  }

  .navbar-img {
    display: block;
    width: 70px;
  }
  .menu {
    display: block;
  }
  #menu:checked ~ .navbar-wrapper {
    display: block;
    right: 0;
  }
}
/* @media screen and (min-width: 640px) {
  #menu {
    display: none;
  }
} */
.section__two {
  padding-block: 64px;
  padding-inline: 24px;
  background-color: var(--color-midnight-green);
}
.wrapper__left--topborder {
  background-color: #f67e7e;
  border: 1px solid #f67e7e;
  width: 50px;
  height: 4px;
  margin-bottom: 32px;
}
.section__two--wrapper-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left__right--img {
  position: relative;
  left: 23px;
}
.wrapper__left--text {
  color: var(--color-white);
}
.img__text--red {
  color: var(--color-light-coral);
}
.img__text--white {
  color: var(--color-white);
}
@media screen and (min-width: 320px) {
  .wrapper__left--text {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }
  .section__two--wrapper-right {
    text-align: center;
  }
  .img__team {
    width: 72px;
    height: 72px;
  }
  .img__text--red {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
  .img__text--white {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (min-width: 573px) {
  .wrapper__left--text {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }
  .section__two--wrapper-right {
    text-align: start;
  }
  .wrapper__right--box {
    display: flex;
    gap: 23px;
    justify-content: center;
    align-items: center;
  }
  .img__team {
    width: 72px;
    height: 72px;
  }
  .img__text--red {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
  .img__text--white {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1110px) {
  .section__two--wrapper {
    display: flex;
    padding-block: 140px;
  }
  .wrapper__left--text {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }
  .left__right--img {
    position: relative;
    left: 542px;
    bottom: -300px;
    width: 80px;
  }
  .left__left {
    position: relative;
    bottom: 130px;
  }
  .section__two--wrapper-right {
    text-align: start;
  }
  .wrapper__right--box {
    display: flex;
    gap: 23px;
    justify-content: center;
    align-items: center;
  }
  .img__team {
    width: 72px;
    height: 72px;
  }
  .img__text--red {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
  .img__text--white {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1110px) {
  .section__two--wrapper {
    display: flex;
    padding-block: 140px;
  }
  .wrapper__left--text {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }
  .left__right--img {
    position: relative;
    left: 728px;
    bottom: -280px;
    width: 80px;
  }
  .left__left {
    position: relative;
    bottom: 130px;
  }
  .section__two--wrapper-right {
    text-align: start;
  }
  .wrapper__right--box {
    display: flex;
    gap: 23px;
    justify-content: center;
    align-items: center;
  }
  .img__team {
    width: 72px;
    height: 72px;
  }
  .img__text--red {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
  .img__text--white {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
  }
}
